<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Add Subject - Mentor App</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/assets/css/smoothproducts.css">
    <style>
        .entry:not(:first-of-type)
    {
        margin-top: 10px;
    }</style>
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/dashboard">Mentor App</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/search">Search</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/subjects">Subjects</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page login-page">
    <section class="clean-block clean-form dark" style="border-color: rgb(88,224,40);">
        <div class="container controls">
            <div class="block-heading">
                <h2 class="text-info">Add subtopics to the subject</h2>
            </div>
            <form method="post">
                <h4 th:text="'Subject is '+${subject_name}" style="margin: 5px"></h4>
                <div class="entry input-group col-xs-3">
                    <input class="form-control" name="allSubtopics" type="text" placeholder="subtopic name"  autofocus required maxlength="100" />
                    <span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                </div>
                <div class="form-group" id="div-button"><button class="btn btn-primary btn-block" type="submit" style="margin-top: 15px;">Add Subtopics</button></div>
            </form>
        </div>
    </section>
</main>
<footer class="page-footer dark">
    <div class="footer-copyright">
        <p>© 2020 OBSS Summer Internship</p>
    </div>
</footer>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/assets/js/smoothproducts.min.js"></script>
<script src="/assets/js/theme.js"></script>
<script type="text/javascript" charset="utf-8">
    $(function()
    {
        $(document).on('click', '.btn-add', function(e)
        {
            e.preventDefault();

            var controlForm = $('.controls form:first'),
                currentEntry = $(this).parents('.entry:first'),
                newEntry = $(currentEntry.clone()).appendTo(controlForm),
                after = $('#div-button').appendTo(controlForm);

            newEntry.find('input').val('');
            controlForm.find('.entry:not(:last) .btn-add')
                .removeClass('btn-add').addClass('btn-remove')
                .removeClass('btn-success').addClass('btn-danger')
                .html('<i class="fa fa-minus"></i>');
        }).on('click', '.btn-remove', function(e)
        {
            $(this).parents('.entry:first').remove();

            e.preventDefault();
            return false;
        });
    });


</script>
</body>

</html>